.br-primary-sm {
    border: 0.5px solid var(--co-primary);
}

.br-primary-md {
    border: 1px solid var(--co-primary);
}

.br-primary-lg {
    border: 1.5px solid var(--co-primary);
}

.br-secondary-sm {
    border: 0.5px solid var(--co-secondary);
}

.br-secondary-md {
    border: 1px solid var(--co-secondary);
}

.br-secondary-lg {
    border: 1.5px solid var(--co-secondary);
}

/* box shadow */
.box-shadow-sm{
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

.box-shadow-md{
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

.box-shadow-lg{
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}


