.fs-xl,
.fs-lg,
.fs-md,
.fs-sm,
.fs-xs {
    font-family: roboto, sans-serif;
    letter-spacing: 1.62%;
    margin: 0;
    padding: 0;
}

/* font sizes */
.fs-xl {
    font-size: var(--fs-xl);
    
}

.fs-lg {
    font-size: var(--fs-lg)
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-xs {
    font-size: var(--fs-xs);
}

/* font weights */
.fw-bold {
    font-weight: 800;
}

.fw-medium {
    font-weight: 600;
}

.fw-regular {
    font-weight: 400;
}

.fw-light {
    font-weight: 200;
}

/* allighment */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}