.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.18px;
}

.grid-2-12{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 6.18px;
}

.grid-2-21{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 6.18px;
}

.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6.18px;
}

.grid-3-123{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    gap: 6.18px;
}

.grid-3-231{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    gap: 6.18px;
}

.grid-3-321{
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    gap: 6.18px;
}